.idea/*
.idea/
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
*.tmproj
.vscode/
# Terraform Files
.terraform
terraform.tfstate.d
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup